.signup-form-container {
    width: 100%;
    padding: 30px;
    height: 200px;
    border-radius: 10%;
    background-color: rgb(38, 85, 130);
    border: 2px solid black;
}

#close-signup-button {
    background-color: rgb(225, 37, 37);
    font-size: 20px;
    position: relative;
    left: 85.84%;
    top: -37px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10%;
}

#close-signup-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px rgb(90, 89, 89);
    background-color: rgb(108, 22, 22);
}

.signup-credentials {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    width: 300px;
    position: relative;
    left: 10%;
    top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

#demo-signup {
    width: 100px;
}

.signup-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-title {
    border-bottom: 2px solid wheat;
    width: 190px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
}

.signup-cred-item {
    font-family: 'Times New Roman', Times, serif;
}

#signup-button {
    background-color: rgb(25, 226, 75);
}

#signup-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px rgb(90, 89, 89);
    background-color: rgb(32, 94, 42);
}

#demo-signup {
    background-color: white;
}

#demo-signup:active {
    transform: translateY(2px);
    box-shadow: 0 2px rgb(90, 89, 89);
    background-color: rgba(250, 235, 215, 0.144);
}