

@-webkit-keyframes colorchange {
    0% {
        color: yellow;
    }

    25% {
        color: salmon;
    }

    50% {
        color: teal;
    }

    75% {
        color: skyblue
    }
}